<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edpuzzle+</title>
    <style>
        body {
            background: #141E30;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Edpuzzle+</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/clases">Go back</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Log out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container p-4">
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center;">Edpuzzle+</h1>
            <p class="lead" style="text-align: center;">Select your exam.</p>
            <hr class="my-4">
            <p class="lead">
            <p></p>
            <table style="margin-left: auto; margin-right: auto; text-align: center;">
                <thead>
                    <tr>
                        <td>Examenes</td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(length2_examenes) %}
                    <tr>
                        <td><a href="/examenes/{{ i+1 }}">{{examen['medias'][i]['title']}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>